name: Deploy to EC2

on:
  push:
    branches:
      - server  # server 브랜치에 push될 때 실행

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ~/server || git clone https://github.com/MooddyTeam1/server.git ~/server
            cd ~/server
            git pull origin server
            ./gradlew clean build -x test
            pkill -f 'java -jar' || true
            nohup java -jar build/libs/*.jar > app.log 2>&1 &
            echo "✅ 서버 재배포 완료!"
