name: Deploy Backend

on:
  push:
    branches: [ "server" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build JAR
        run: |
          chmod +x ./gradlew
          ./gradlew clean build -x test

      - name: Upload JAR & Dockerfile to EC2
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          username: ubuntu
          key: ${{ secrets.PRIVATE_KEY }}
          source: "build/libs/*SNAPSHOT.jar,Dockerfile"
          target: "~/server/backend"
          strip_components: 0

      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ubuntu
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            cd ~/server/backend
            docker stop backend || true
            docker rm backend || true
            docker build -t backend .
            docker run -d -p 8080:8080 --name backend backend
