name: Deploy Backend

on:
  push:
    branches: [ "server" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Give Gradle permission
        run: chmod +x ./gradlew

      - name: Build JAR
        run: |
          cd backend
          chmod +x ./gradlew
          ./gradlew clean build -x test
      
      

      - name: Upload JAR & Dockerfile to EC2
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          username: ubuntu
          key: ${{ secrets.PRIVATE_KEY }}
          source: |
            backend/build/libs/*.jar
            backend/Dockerfile
          target: "~/server/backend/"

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ubuntu
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            cd ~/server/backend

            docker stop backend || true
            docker rm backend || true

            docker build -t backend .
            docker run -d -p 8080:8080 --name backend backend
